*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	overflow-y: hidden;
}

body {
	width: 100dvw;
	height: 100dvh;
	background-color: #000000;
}

#main {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

#stats {
	position: fixed;
	top: 0;
	left: 0;
	zoom: 0.75;
}
