*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

h1 {
	word-break: keep-all;
}

.background {
	width: 100dvw;
	height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f3f3f3;
}

.main {
	width: min(375px, 100dvw);
	height: min(600px, 100dvh);
	background: white;
	padding: 16px;
	border-radius: 16px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
}

.topText {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.yourNumber {
	font-size: 1.5rem;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.number {
	font-size: 5rem;
	line-height: 1;
}

.unit {
	font-size: 2rem;
}

.waitingNumber {
	color: red;
}

.estimatedTime {
	font-size: 2rem;
}
